################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PokeTestWebApp/bin
/PokeTestWebApp/obj
