################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp/MyWebApp/.vs/MyWebApp
/WebApp/MyWebApp/PokeTestWebApp/bin
/WebApp/MyWebApp/PokeTestWebApp/obj
/WebApp/.vs/MyWebApp
/WebApp/PokeTestWebApp/bin
/WebApp/PokeTestWebApp/obj/Debug/net8.0
/WebApp/PokeTestWebApp/obj
