@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TEST TEST</h1>
    <p>TEST WEB APP POKE - DEPLOYED FROM GITHUB</p>
    <p>@ViewData["MyConfig"]</p>
</div>
